
<div class="mobile-nav-backdrop" (click)="closeNav.emit()"></div>
<div class="mobile-nav" [class.open]="isOpen">
  <div class="mobile-nav-header">
    <button mat-icon-button (click)="closeNav.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="mobile-nav-items">
    <div 
      *ngFor="let item of navItems" 
      class="mobile-nav-item" 
      (click)="navigateTo(item.route)"
      [class.active]="router.url === item.route"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </div>
  </div>
</div>